@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.faq{
    height: 120vh;
    align-items: center;
    width: 100vw;
    background: linear-gradient(278.06deg, #9747FF 1.24%, #F3F4F6 127.87%);
}

.faqHeader{
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    color:#001122;
    font-weight: 100;
    font-size: 15px;
    padding-top: 50px;
}

.faqCard{
    padding: 20px;
    align-items: center;
    border: 0.5px solid black;
    min-height: 100px;
    min-width: 60vw;
    margin: 12px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 20px;
    font-size: 24px;
    color:#001122;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.faqQuestion{
   padding-top: 15px;
}

.faqAnswer{
    border-top: 0.2px solid rgb(142, 135, 135);
    margin-top: 40px;
    min-height: 120px;
    width: auto;
    padding-top: 50px;
    font-size: 20px;
    color:#001122;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
